:root {
    /*### ШРИФТЫ ###*/
    --maine-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /*### политра ###*/

    /*цвет фона*/
    --body-bakeground-color: #E5E5E5;

    /*шапка*/
    --header-bakeground-color: #fff;
    --logo-color-left: #2196F3;
    --logo-color-right: #000;
    --text-menu-color: #212121;
    --text-menu-accent: #2196F3;
    --link-telephon-and-mail: #757575;

    /*герой*/
    --hero-bakeground-color: #2F303A;
    --button-color: #2196F3;
    --hero-text-color: #fff;

    /*особенности*/
    --feature-head-color: #212121;
    --feature-text-color: #757575;

    /*чем мы занимаемся*/
    --wedo-htad-color: #212121;

    /*наша комвнда*/
    --team-bakeground-color: #F5F4FA;
    --team-head-color: #212121;
    --team-specialty-color: #757575;
    --team-card-bgcolor: #fff;

    /*подвал*/
    --footer-bgcolor: #2F303A;
    --footer-logo-left: #2196F3;
    --footer-logo-right: #fff;
    --footer-address-location: #fff;
    --footer-address-contact: rgba(255, 255, 255, 0.6);;

    /*ПОРТФОЛИО*/

    /*cссылки навигации*/
    --portfolio-button-bgcolor: #F5F4FA;
    --portfolio-button-bgcolor-active: #2196F3;
    --portfolio-button-text-color: #212121;
    --portfolio-button-text-active-color: #fff;
    
    /*каталог портфолио*/
    --project-card-bgcolor: #fff;
    --project-card-border-color: #EEEEEE;
    --card-head: #212121;
    --card-text: #757575;
}
/* .page {
    background-color: ;
} */

/*===== шапка =====*/

.heder {
    background-color: var(--header-bakeground-color);
}

/*навигация страницы*/
.main-navigation {
}

/*логотип*/
.logo {
}
.logo__link {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/*левая часть логотипа*/
.logo__text--accent {

    color: var(--logo-color-left);
}

/*правая часть логотипа*/
/* .logo__text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    color: var(--logo-color-right);
} */

/*список сылок навигации*/
.navigation__list {
    list-style: none;
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

}

/*элементы навигации*/
.navigation__item {
}

/*ссылки навигации*/
.navigation__link {
    text-decoration: none;
    color: var(--text-menu-color);
}
/*акценты*/
.navigation__link:hover, 
.navigation__link:focus{
    color: var(--text-menu-accent);
}
.accent{
    color: var(--text-menu-accent);
}

/*контакты почта и телефон*/
.header__link {
    text-decoration: none;
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--link-telephon-and-mail);

}

.header__link:hover,
.header__link:focus {
    color: var(--text-menu-accent);
}

/*===== ГЛАВНЫЙ КОНТЕНТ =====*/

/*герой*/
.hero {
    background-color: var(--hero-bakeground-color);
}
.hero__title {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--hero-text-color);
    text-transform: uppercase;
}
.hero__button {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: var(--button-color);

}
.hero__button-text {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: var(--hero-text-color);
}

/*секция особености*/
.features {
}

/*скрытие заголовка*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*список особенностей*/
.features__list {
    list-style: none;
}
.features__item {

}
.features__item-head {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--feature-head-color);
}
.features__item-text {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--feature-text-color);
}

/*чем мы занимаемся*/
.wedo {
}
/*заголовок секции*/
.wedo__head {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--wedo-htad-color);
}
/*список секции*/
.wedo__list {
    list-style: none;
}
/*элемент списка*/
.wedo__item {
}

/*наша команда*/
.our-team {
}
.our-team__head {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--team-head-color);
}
/*список наша команда*/
.oure-teame__list {
    list-style: none;
}
.oure-teame-list figure, a{
    font-family: var(--maine-font);
    text-decoration: none;
    color: var(--team-head-color);
}
/*карточка участника команды*/
.oure-teame__card {
    width: 270px;
    height: 368px;

    background: var(--project-card-bgcolor);
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/*подпись карточки*/
.oure-teame__card-head {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
}
.oure-teame__card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--team-specialty-color);
}

/*подвал*/
.footer{
    font-family: var(--maine-font);

    background-color: var(--footer-bgcolor);
}
.footer__logo--accent {
    color: var(--footer-logo-left);
}
.footer__logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--footer-logo-right);
}
.footer__address-list {
     list-style: none;
}
.footer__address-location{
    /* font-family: var(--maine-font); */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--footer-address-location);
}
.footer__address-contact{
    /* font-family: var(--maine-font); */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--footer-address-contact);
}

/*############### ПОТФОЛИО ###############*/

.portfolio__section {
}
/*навигация портфолио*/

.portfolio__navigation-list {
    list-style: none;
    font-family: var(--maine-font);
}
.portfolio__navigation-item {
}
.portfoli__button {
    background: var(--portfolio-button-bgcolor);
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--portfolio-button-text-color);
}
.portfoli__button:hover,
.portfoli__button:focus {
    background: var(--portfolio-button-bgcolor-active);
    color: var(--portfolio-button-text-active-color);
}
/*индивидуальный стилизация*/
.all {
    width: 78px;
    height: 38px;
}
.web-site {
    width: 128px;
    height: 38px;
}
.application {
    width: 145px;
    height: 38px;
}
.design {
    width: 103px;
    height: 38px;
}
.marketing {
    width: 130px;
    height: 38px;
}

/*каталог портфолио*/

.pojects__list {
    font-family: var(--maine-font);
    list-style: none;
}
.project__item {
}
.project__card {

    width: 370px;
    height: 404px;
    background: var(--project-card-bgcolor);
    border: 1px solid var(--project-card-border-color);
    box-sizing: border-box;
}
.card__link {
}
.caption{
    width: 322px;
    height: 70px;
}
.card__head {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--card-head);
}
.card__text {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--card-text);
}